.css-1l2fwol {
    margin: auto;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 500px;
    height: 150px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding-right: 32px;
    padding-left:32px;
    width: 100px;
}

.css-y8ay40-MuiTableCell-root {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    
    
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(171 171 171) !important;
    border-top: 1px solid rgb(171 171 171) !important;
    text-align: left;
    padding: 16px;
    color: black !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    font-weight: 700 !important;
    font-size: 1rem !important;
}

.css-1ex1afd-MuiTableCell-root{
    font-weight: 500 !important;
    font-size: medium !important;
}

.css-pdct74-MuiTablePagination-selectLabel{
    font-size: medium !important;
}
.css-levciy-MuiTablePagination-displayedRows{
    font-size: medium !important;
}
.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input{
    font-size: medium !important;
}

.css-177gid-MuiTableCell-root{
    width: 200px !important;
}

.CategoryButton{
    width: 100px !important;
}


