.MuiTypography-body1{
    font-weight: 600  !important;
    font-size: 1.275rem !important;
    color: #1976d2 !important;
}

.MuiTypography-colorPrimary {
    color: #1976d2 !important;
}
.material-icons{
    font-size: 30px !important;
    font-weight: bolder !important;
}
